
.app {
    background-color: black;
    color: white;
    height: 100vh;
}

.main-heading{
    color: hotpink;
    background-color: black;
}

.sidebar {
    width: 120px;
    margin: 5px;
    position: sticky;
    top: 62px;
    align-self: flex-start;
    align-items: start;
}

.main-heading {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}